# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [2]:
num_int = 6

print(num_int)
print(type(num_int))

6
<class 'int'>

In [8]:
print(num_int)

6

##### Assigning float

In [10]:
num_float = 6. 

print(num_float)
print(type(num_float))

6.0
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [40]:
num1 = 2.
num2 = 5

result = num1 + num2

print(result)

# Short hand version
result += 2 # result = result + 2
print(result)

7.0
9.0

In [41]:
result += 100
print(result)

109.0

##### Subtraction

In [42]:
result_diff = num2 - num1

print(result_diff)

# Short hand version
result_diff -= 2 # result_diff = result_diff - 2
print(result_diff)

3.0
1.0

##### Multiplication

In [43]:
result_prod = num1 * num2

print(result_prod)

# Short hand version
result_prod *= 2 # result_prod = result_prod * 2
print(result_prod)

10.0
20.0

##### Division

In [44]:
result_div = num2 / num1
print(result_div)
print(type(result_div))

# Short hand version
result_div /= 2 # result_div = result_div / 2

print(result_div)

2.5
<class 'float'>
1.25

##### Floor Division (Integer Division)

In [45]:
result_floor = num2 // num1

print(result_floor)
print(type(result_floor))

# Short hand version
result_floor //= 2 # result_floor = result_floor // 2
print(result_floor)

2.0
<class 'float'>
1.0

In [32]:
import math

math.ceil(num2/num1)

3

##### Modulo

In [46]:
result_mod = num2 % num1

print(result_mod)

# Short hand version
result_mod %= 2 # result_mod = result_mod % 2
print(result_mod)

1.0
1.0

##### Exponential

In [47]:
square = 5 ** 2

print(square)

# Short hand version
square **= 2 # square = square ** 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [48]:
name1 = "Brian"
print(name1)
print(type(name1))

Brian
<class 'str'>

In [49]:
name2 = 'Brian'
print(name2)
print(type(name2))

Brian
<class 'str'>

In [50]:
contraction1 = "You can't do that"
print(contraction1)

You can't do that

In [51]:
contraction2 = 'You can't do that'
print(contraction2)

SyntaxError: invalid syntax (<ipython-input-51-e50b30aa9072>, line 1)

In [53]:
quote1 = 'Brian said, "I love Python"'
print(quote1)

Brian said, "I love Python"

In [54]:
quote2 = "Brian said, "I love Python"
print(quote2)

SyntaxError: invalid syntax (<ipython-input-54-1f8bd1748ea1>, line 1)

##### Escape Characters

In [57]:
print('You can\'t do that')

You can't do that

In [58]:
print('Hello
      how are you')

SyntaxError: EOL while scanning string literal (<ipython-input-58-faac061f3d7d>, line 1)

In [60]:
print('Hello, \
how are you?')

Hello, how are you?

In [61]:
# \n - newline character
print("Hello\nhow are you?")

Hello
how are you?

In [62]:
# \t - tab character
print('Hello\thow are you?')

Hello	how are you?

In [70]:
# Raw String
print(r"Hello\nhow are you?")

Hello\nhow are you?

In [68]:
print(r'You can\'t do that')

You can\'t do that

##### String Concatenation

In [73]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name

print(full_name)

# Short hand version
full_name += ', Jr.' # full_name = full_name + ", Jr."
print(full_name)

John Smith
John Smith, Jr.

In [82]:
num_a = 10
num_b = '10'

num_a + num_b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### Type Conversion

In [85]:
num_b_int = int(num_b)

print(num_b, type(num_b))
print(num_b_int, type(num_b_int))

num_a + num_b_int

10 <class 'str'>
10 <class 'int'>

20

In [93]:
num_a_str = str(num_a)

print(num_a, type(num_a))
print(num_a_str, type(num_a_str))

num_a_str + num_b

10 <class 'int'>
10 <class 'str'>

'1010'

##### .format() and f-strings

In [97]:
# string.format(*values)

name = 'Brian'
age = 100
home = 'Chicago'

print("Hello my name is {} and I am {} years old and I am from {}.".format(name, age, home))
print(f"Hello my name is {name} and I am {age} years old and I am from {home}.")

Hello my name is Brian and I am 100 years old and I am from Chicago.
Hello my name is Brian and I am 100 years old and I am from Chicago.

##### Old Way (python 2)

In [98]:
print("Hello my name is %s and I am from %s" % (name, home))

Hello my name is Brian and I am from Chicago

In [99]:
result = 10 + 5

print("The result is %i" % result)

The result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [100]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'


print(f"I drive a {color} {int(year) + 1} {make} {model}")

I drive a blue 2023 Ford Focus

### Booleans

In [101]:
bool_true = True

print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [102]:
bool_false = False

print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [105]:
# if <expression>:
#     <statement>

if True:
    print('Hello this is true')

Hello this is true

In [106]:
if False:
    print('Hello this is false')

In [110]:
print('Start of code')

if False:
    print('Hello')
    print('How are you?')
    print('Good, you?')
    
print('End of code')

Start of code
End of code

In [120]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2

print(num1 > num2)
print(num1 == num2 * num3)
print(num1 != num3)

True
True
True

In [126]:
if num1 > num2:
    print('num1 is greater than num2')
    
if num1 == num2 * num3:
    print('num1 is equal to num2 times num3')
    
if num1 != num3:
    print('num1 is not equal to num3')

num1 is greater than num2
num1 is equal to num2 times num3
num1 is not equal to num3

## Using 'and'/'or' with If Statements

In [129]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

num1 = 10
num2 = 5
num3 = 2

if num1 > num2 and num2 < num3:
    print('Both conditions are true')
    
    
if num1 > num2 or num2 < num3:
    print('At least one condition is true')

At least one condition is true

### Else Statements

In [136]:
# An else statement runs when the if statement above it evaluates to False

required_height = 60
rider_height = 48

if rider_height >= required_height:
    print('Enjoy the ride!')
else:
    print('Sorry, you are not tall enough to ride this ride :(')

Sorry, you are not tall enough to ride this ride :(

### Elif Statements

In [146]:
##### An elif only runs when the if (or elif) directly above it evaluates to False
required_age = 17
with_a_parent = True

movie_goer_age = 25


if movie_goer_age >= required_age:
    print('Enjoy the film')
elif movie_goer_age + 4 >= required_age and with_a_parent:
    print('Enjoy the film with your parent.')
else:
    print('You are not old enought to see this film')

Enjoy the film

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (0-9) are half off. Print out the ticket price at the end</p>

In [166]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
person_age = 8 # Output: Your ticket is $5.00


if person_age >= 65:
    ticket *= .75
elif person_age < 10:
    ticket *= .5
else:
    ticket = ticket
    
print(f"Your ticket is ${ticket:.2f}")

Your ticket is $5.00

5.0

### Lists

##### Declaring Lists

In [215]:
empty_list = [] # Empty list declaration

print(empty_list)
print(type(empty_list))

names = ['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']

print(names)
print(type(names))

[]
<class 'list'>
['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
<class 'list'>

In [216]:
num_list = [34, 12, 23, 234, 234, 132, 134, 357]
print(num_list)
print(type(num_list))

[34, 12, 23, 234, 234, 132, 134, 357]
<class 'list'>

In [217]:
random_list = [12, 3453.12343, 'Hello', True]

print(random_list)
print(type(random_list))

[12, 3453.12343, 'Hello', True]
<class 'list'>

##### Indexing a List

In [218]:
# list[index]
# list[start: stop] 
# list[start: stop: step] 

# start is inclusive, stop is exclusive

# Single item from a list by index
print(names[4])

# Print starting at index 1 and go to the end
print(names[1:])

# Print starting at the beginning of the list until index N (N == index to stop)
print(names[:3])

# Print starting at the 2 index and stopping at the 4
print(names[2:4])

# Print every other element in the list
print(names[::2])


print(names[1:3:2])


# Reverse the list
print(names[::-1])

Nate
['Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy', 'Kathy']
['Kathy', 'Bob']
['Max', 'Kathy', 'Nate']
['Cindy']
['Nate', 'Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [220]:
# list.append(value_to_append) - adds value to end of the list

print(names)

names.append('Brian')

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brian']

##### .insert()

In [222]:
# list.insert(index,value)

print(names)

names.insert(3, 'Gabby')

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Brian']
['Max', 'Cindy', 'Kathy', 'Gabby', 'Bob', 'Nate', 'Brian']

##### .pop()

In [223]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable
print(names)

my_name = names.pop()

print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 'Bob', 'Nate', 'Brian']
['Max', 'Cindy', 'Kathy', 'Gabby', 'Bob', 'Nate']

In [224]:
print(my_name)

Brian

In [225]:
name_3 = names.pop(3)

print(names)
print(name_3)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate']
Gabby

In [257]:
names.append('Bob')

In [258]:
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Nate', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']

##### .index()

In [239]:
# list.index(value) - the index of the first item to match the value

print(names.index('Bob'))

3

##### .count()

In [262]:
# list.count(value) - return the number of times the value appears in the list

print(names.count('Bob'))

24


##### .remove()

In [265]:
# list.remove(value) -  value to be removed , not index

print(names)

names.remove('Bob')

print(names)

['Max', 'Cindy', 'Kathy', 'Nate', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']
['Max', 'Cindy', 'Kathy', 'Nate', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']

##### del()

In [266]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

del names[3]

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']

##### .clear()

In [267]:
# list.clear() - removes all values from a list

print(names)

names.clear()

print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']
[]

##### Concatenating Two Lists

In [268]:
# will append two lists together, not add up the elements in each list

list_1 = [1, 2, 3]
list_2 = [4, 5, 6]

combo_list = list_1 + list_2

print(combo_list)

[1, 2, 3, 4, 5, 6]

##### Lists Within Lists

In [276]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ['Max', 'Sam', 'Josh', ['Sally', 'Susan', 'Tameka']]

print(names)
print(names[3])
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Susan', 'Tameka']]
['Sally', 'Susan', 'Tameka']
Susan

### For Loops

In [281]:
# for <keyword> in <iterable>:
#     <statement>

print('Code start')

for x in [5, 10, 15, 20, 25, 30, 35, 40]:
    print(x)
    print("Hello the x variable is equal to:", x)
    
print('Code end')

Code start
5
Hello the x variable is equal to: 5
10
Hello the x variable is equal to: 10
15
Hello the x variable is equal to: 15
20
Hello the x variable is equal to: 20
25
Hello the x variable is equal to: 25
30
Hello the x variable is equal to: 30
35
Hello the x variable is equal to: 35
40
Hello the x variable is equal to: 40
Code end

In [283]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

for color in colors:
    print(color)

red
orange
yellow
green
blue
indigo
violet

In [287]:
full_name = 'Brian Stanton'

for letter in full_name:
    print(letter)

B
r
i
a
n

S
t
a
n
t
o
n

##### Continue Statement

In [ ]:
# will continue to next iteration

In [292]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if num == 5:
        continue
    print(num)

1
2
3
4
6
7
8
9
10

##### Break Statement

In [ ]:
# will break out of current loop

In [293]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if num == 5:
        break
    print(num)

1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [296]:
names = ['Brian', 'Mike', 'Janet', 'Catherine']

for name in names:
     pass # TODO: send each user an email welcoming them

print(names)

['Brian', 'Mike', 'Janet', 'Catherine']

In [297]:
if 'Brian' in names:
    pass

In [299]:
def some_func():
    pass
    
some_func()

##### Nested/Double For Loops

In [321]:
for i in range(3):
#     print(i)
    for j in range(3):
        print(f"i = {i}, j = {j}")

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2

### While Loops

In [308]:
# while <conditional>:
#     <statement to run while condition is true>

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [310]:
game_over = True

while True:
    print('Infinite Loop')
    if game_over:
        break

Infinite Loop

### Built-In Functions

##### input()

In [311]:
# input(question) => ALWAYS RETURNS A STRING
answer = input("What is the answer to this question? ")

print(answer)

What is the answer to this question? Python Rules!
Python Rules!

In [319]:
age = input("How old are you? ")

print(type(age))

age_in_five = int(age) + 5

print(f"You will be {age_in_five} in five year's time.")

How old are you? 50
<class 'str'>
You will be 55 in five year's time.

In [320]:
int('50') + 5

55

##### range()

In [328]:
# range(Stop)
# range(Start, Stop)
# range(Start, Stop, Step)

for i in range(10, 20, 2):
    print(i)

10
12
14
16
18

##### len()

In [329]:
# check Length of variable
name = 'Abraham Lincoln'

length = len(name)

print(length)

15

In [330]:
cities = ['Chicago', 'New York', 'Los Angeles']

print(len(cities))

3

##### help()

In [331]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [339]:
range(5)

range(0, 5)

In [335]:
for i in range(len(cities)):
    print(i, cities[i])

0 Chicago
1 New York
2 Los Angeles

In [336]:
for i in range(3):
    print(i)

0
1
2

##### Looping Through Lists

In [346]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)
for i in range(len(cities)):
    print(i, cities[i])
    
# Loop with a for loop (Using the 'in' keyword)
for city in cities:
    print(city)

0 Chicago
1 New York
2 Los Angeles
Chicago
New York
Los Angeles

##### isinstance()

In [344]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

x = 4.87

print(isinstance(x, float))

if isinstance(x, float):
    print('the number is a float')

True
the number is a float

### Try and Except

In [354]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

try:
    number_test = 5
    input_num = int(input('Guess a number: '))
    while input_num != number_test:
        print('That is incorrect. Please try again')
        input_num = int(input('Guess a number: '))
    print(f'Congrats, you correctly guessed the number: {number_test}')
except:
    print('That is not a valid guess. Please guess an integer when you do.')

Guess a number: 5
Congrats, you correctly guessed the number: 5

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [361]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

0

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>